html, body{
    margin: 0px;
}


#navbarmain{
    z-index: 1000;
}

.main-section{
    margin: auto;
    height: 88vh;
    padding-top: 10%;
    padding: auto;
}

.main-section .row{
    height: 100%;
}

.main-section .row > div:first-child{
    height: 34%;
}

.main-section .row > div:last-child{
    height: 7%;
    width: auto;
    color: #5a279c;
}

#welcome-text{
    -webkit-animation-duration: 2s;
}

#search-box{
    bottom: 38%;
    -webkit-animation-delay: 0.7s;
    -webkit-animation-duration: 2s;
}
